<%- include("header") -%>

<h2>This s the about page</h2>

<p>sdfef jef njhhjdb sjdhyusd bdsjbdjh bdjshbsadb bjasbd</p>
<p>bdhgas jdvhdb sdbdu bhjsgcsj  bsdhhdvdgt hdyugdubw duyqwgldwd d</p>

<%- include("footer") -%>
